<div class="col col-12">
  <!-- begin article -->
  <div class="article wow fadeIn">
    <div class="article__content">
      <h2 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
      </h2>
      <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}</p>
    </div>
  </div>
  <!-- end article -->
</div>