<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin c-hero -->
      <div class="hero" style="background-color: #CCEBAF"> 
        <div class="hero__content">
          <img src="{{site.baseurl}}/images/shiatsu.png" alt="logo"/> 
                    <h1 class="hero__title wow fadeInUp" style="color: #1969bc; margin-top: 20px">{{ site.hero-title }}</h1>

          <div style="padding-top: 10px; color: #209cd0" class="hero__subtitle wow fadeInUp" data-wow-delay=".2s">{{ site.hero-subtitle }}</div>

          <div style="padding-top: 20px; color: #1969bc"class="hero__subtitle wow fadeInUp" data-wow-delay=".2s">386 Impasse des inséparables</div>
          <div style="padding-top: 5px; color: #1969bc"class="hero__subtitle wow fadeInUp" data-wow-delay=".2s">Mont-Dore Sud</div>
          <div style="padding-top: 5px; padding-bottom: 35px; color: #1969bc"class="hero__subtitle wow fadeInUp" data-wow-delay=".2s">78.53.44</div>

        </div>
      </div>
      <!-- end hero -->
    </div>
  </div>
</div>
