<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin pagination -->
      <nav class="pagination">
        <div class="pagination__list">
          {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a class="previous-link" href="/"><i class="ion ion-ios-arrow-back"></i> Précédent</a>
          {% else %}
            <a class="previous-link" href="/page/{{ paginator.previous_page }}/"><i class="ion ion-ios-arrow-back"></i>  Précédent</a>
          {% endif %}
    
          {% else %}
            <span class="prev-disabled"><i class="ion ion-ios-arrow-back"></i> Précédent</span>
          {% endif %}
    
          {% if paginator.next_page %}
            <a class="next-link" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">Suivant <i class="ion ion-ios-arrow-forward"></i></a>
          {% else %}
            <span class="next-disabled">Suivant <i class="ion ion-ios-arrow-forward"></i></span>
          {% endif %}
        </div>
      </nav>
      <!-- end pagination -->
    </div>
  </div>
</div>