/* Hero */
.hero {
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
  }
  
  &:after {
    content: "";
    display: table;
    min-height: 350px;
    padding-top: 60%;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 50px;
  }
}

.hero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  text-align: center;
  color: #fff;

  .hero__title,
  .hero__subtitle {
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 17px;
    line-height: 17px;
    padding-left: 10px;
  }

  @media only screen and (max-width: $mobile) {
    .hero__title {
      font-size: 26px;
    }

    .hero__subtitle {
      font-size: 15px;
    }
  }
}