---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col col-12">
			
			<div class="post__head wow fadeInUp">
				<h1 class="post__title">{{ page.title | escape }}</h1>
				<div class="post-info">
					{% if page.tags.size >= 1 %}
					<span class="post-tags">
						posté dans
						{% for tag in page.tags %}
							<a href="{{ site.baseurl }}/tag/{{ tag }}" class="post-tags__tag">{{ tag }}</a>
						{% endfor %}
					</span>
					{% endif %}
					<span class="post__meta">
						<span class="article__author"> par <a href="{{site.baseurl}}/about/">{{ site.author.name }}</a></span>
					</span>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			
			<!-- begin post -->
			<article class="post wow fadeInUp" data-wow-delay=".2s">
	
			{% if page.image and page.image != "" %}
				<div class="post-image" style="background-image: url('{{ page.image | relative_url }}')"></div>
			{% endif %}
	
				<div class="post__content">
					{{ content }}
				</div>
	
				<div class="post__share">
					<ul class="share__list list-reset">
						<li class="share__item">
							<a class="share__link share__facebook"
								href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
								title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
						</li>
					
						<li class="share__item">
							<a class="share__link share__twitter"
								href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
								title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
						</li>
					
						<li class="share__item">
							<a class="share__link share__pinterest"
								href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}/images/{{ page.image }}&amp;description={{ page.title | uri_escape }}"
								onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
								title="Share on Pinterest" rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
						</li>
					</ul>
				</div>
				{% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}
			</article>
			<!-- end post -->
		</div>
	</div>
</div>